* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: "Anton";
    src: url("/Anton-Regular.ttf");
}

@font-face {
    font-family: "BaskerVille";
    src: url("/LibreBaskerville-Regular.ttf");
}

@font-face {
    font-family: "Rowdies";
    src: url("/Rowdies-Bold.ttf");
}
