* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.ratemyfit-div {}

.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.ratemyfit-banner {
  background-color: #F1E560;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-bottom: 35px;
  padding-top: 10px;
}

.ratemyfit-text {
  text-align: center;
  color: #000000;
  font-size: 55px;
  font-weight: 400;
  font-family: Anton;
  letter-spacing: 0.01em;
}

.style-text {
  font-size: 9px;
  text-align: right;
  padding-right: 20px;
  font-family: BaskerVille;
}

.fit-img {
  height: auto;
  width: 100%;
}

.img-fit-div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.scroll-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}

.scroll-div>p {
  text-align: center;
  padding-bottom: 30px;
  font-family: Roboto;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
}

.product-match-div {
  margin-top: 30px;
}

.discover-img-div {
  position: relative;
}

.discover-text {
  font-family: Rowdies;
}

.shop-look {
  position: absolute;
  bottom: 0px;
  right: 5px;
  color: #314C6F;
  width: 20px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: Roboto;
}

.share-div {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-exact-match-div {
  background-color: #ECEAEA;
  padding: 15px 12px;
  margin: 25px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ECEAEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.exact-match-div {
  width: 55px;
  height: 55px;
  background-color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  top: 13px;
  right: 10px;
}

.exact-match-div>p {
  color: #E4E4E4;
  font-weight: 700;
  font-family: Roboto;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
}

.shop-btn {
  border: 2.5px solid #444444;
  background-color: transparent;
  padding: 15px 25px;
  text-transform: uppercase;
  color: #444444;
  font-family: Lato;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.04em;
}

.share-btn-exact {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.like-btn-exact {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.shop-lookalike-row-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 20px;
}

.shop-matching-div {
  width: 48%;
  margin: 0px;
  background: #ECEAEA;
  border-radius: 10px;
}

.shop-other-looks-div {
  margin: 0px 20px;
  margin-top: 20px;
}

.other-looks-div-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-others-text {
  font-family: Anton;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.02em;
  color: #272727;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.other-look-img {
  width: 31%;
}

.sign-up-txt {
  margin-top: 25px;
  font-family: Roboto;
  font-size: 20px;
  color: #272727;
  text-align: center;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}

.email-input {
  margin-top: 50px;
  border: none;
  border-bottom: 1px solid #272727;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
  padding: 5px;
  letter-spacing: 0.02em;
  color: #898886;
}

.subscribe-btn {
  background-color: #272727;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 13px;
  border: none;
  text-align: center;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
}
