.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.image_container {
    flex: 1;

    position: relative;
    overflow: hidden;
}

.actions {
    height: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    gap: 8px;
}

.image_item {
    border-radius: 12px;

    object-fit: cover;
}
