.main {
    min-height: 100vh;

    padding: 20px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.nav_item {
    width: 70px;
    outline: none;
    border: none;
    background: none;

    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;

    /* black */

    color: #272727;

    margin: 20px 0px;
}

.active {
    text-decoration: underline;
}

.parent_container {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;

    grid-auto-rows: 40px;

    @media (min-width: 480px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 769px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: 1025px) {
        grid-template-columns: repeat(6, 1fr);
    }

    @media (min-width: 1200px) {
        grid-template-columns: repeat(8, 1fr);
    }
}
